<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msw.abm.mapper.UserMapper">

	<!-- 로그인 처리를 위한 resultMap -->
	<resultMap id="UserMap" type="com.msw.abm.vo.UserVO">
		<result property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="password" column="PASSWORD" />
		<result property="phone_number" column="PHONE_NUMBER" />
		<result property="email" column="EMAIL" />
		<result property="cardinal_number" column="CARDINAL_NUMBER" />
		<result property="authority" column="AUTHORITY" />
		<result property="enable" column="ENABLE" />	
	</resultMap>

	<!-- 현재 기수현황 조회 -->
	<select id="cardinalList" resultMap="UserMap">
	    SELECT CARDINAL_NUMBER FROM cardinal
		ORDER BY ID DESC LIMIT 4
	</select>
	<!-- 아이디 중복체크 -->
    <select id="idOverlapCheck" resultType="int" parameterType="com.msw.abm.vo.UserVO">
        SELECT count(*) TOTALCOUNT FROM user
        WHERE ID = #{id}
    </select>
	<!-- 이메일 중복체크 -->
    <select id="emailOverlapCheck" resultType="int" parameterType="com.msw.abm.vo.UserVO">
        SELECT count(*) TOTALCOUNT FROM user
        WHERE EMAIL = #{email}
    </select>
</mapper>