<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msw.abm.mapper.UserMapper">

	<!-- 로그인 처리를 위한 resultMap -->
	<resultMap id="UserMap" type="com.msw.abm.vo.UserVO">
		<result property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="password" column="PASSWORD" />
		<result property="phone_number" column="PHONE_NUMBER" />
		<result property="email" column="EMAIL" />
		<result property="cardinal_number" column="CARDINAL_NUMBER" />
		<result property="authority" column="AUTHORITY" />
		<result property="enabled" column="ENABLED" />	
	</resultMap>

	<!-- 현재 기수현황 조회 -->
	<select id="cardinalList" resultMap="UserMap">
	    SELECT CARDINAL_NUMBER FROM CARDINAL
		ORDER BY ID DESC LIMIT 4
	</select>
	<!-- 아이디 중복체크 -->
    <select id="idOverlapCheck" resultType="int" parameterType="com.msw.abm.vo.UserVO">
        SELECT count(*) TOTALCOUNT FROM USER
        WHERE ID = #{id}
    </select>
	<!-- 이메일 중복체크 -->
    <select id="emailOverlapCheck" resultType="int" parameterType="com.msw.abm.vo.UserVO">
        SELECT count(*) TOTALCOUNT FROM USER
        WHERE EMAIL = #{email}
    </select>
    <!-- 회원가입 -->
	<insert id="userJoinSave" parameterType="com.msw.abm.vo.UserVO">
		INSERT INTO USER (ID, NAME, PASSWORD, PHONE_NUMBER, EMAIL, CARDINAL_NUMBER, ENABLED) 
		VALUES (#{id}, #{name}, #{password}, #{phone_number}, #{email}, #{cardinal_number}, #{enabled});
	</insert>
	<!-- 권한부여 -->
	<insert id="authorityAssign" parameterType="com.msw.abm.vo.UserVO">
		INSERT INTO USER_AUTH (ID, AUTHORITY) VALUES (#{id}, #{authority});
	</insert>
	<!-- 전체 유저 조회 -->
	<select id="userListFind" resultMap="UserMap" parameterType="com.msw.abm.vo.UserVO">
	    SELECT ID, NAME, CARDINAL_NUMBER, PHONE_NUMBER FROM USER
	    ORDER BY id desc
			LIMIT #{listSize} OFFSET #{skipCount}
	</select>
	<!-- 전체 회원 수 -->
    <select id="userListCount" resultType="int">
        SELECT count(*) TOTALCOUNT FROM user
    </select>
</mapper>